<header>
    <div class="jumbotron rounded-0 bg-cover text-light" style="padding-top: 80px; padding-bottom: 30px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-3">F&R Book Shop</h1>
                    <p>The best online book shop to find the book you are looking for </p>
                </div>
            </div>
        </div>
    </div>
</header>